<select ng-model="xvals" ng-change="plot(xvals,yvals)">
  <option ng-repeat="xvals in columns" value="{{xvals}}" >{{xvals}}</option>
</select>


<select ng-model="yvals" ng-change="plot(xvals,yvals)">
  <option ng-repeat="yvals in columns" value="{{yvals}}" >{{yvals}}</option>
</select>





<div id="chart" class="c3">
 <!--- http://codepen.io/highlyinteractive/pen/dCahl -->
	<div class="whirlpool">
	  <div class="ring ring1"></div>
	  <div class="ring ring2"></div>
	  <div class="ring ring3"></div>
	  <div class="ring ring4"></div>
	  <div class="ring ring5"></div>
	  <div class="ring ring6"></div>
	  <div class="ring ring7"></div>
	  <div class="ring ring8"></div>
	  <div class="ring ring9"></div>
	</div>
</div>